[id="home"] {
  margin: 20px;

  ul {
    display: flex;
    flex-flow: wrap;
    gap: 30px;
  }

  li {
    width: 100%;
  }

  @media (min-width: 768px) {
    margin: 30px 60px;

    ul {
      justify-content: center;
      border-radius: 20px;
      padding: 50px;
      background-color: var(--grey);
    }

    li {
      width: calc((100% - 30px) / 2);
    }
  }

  @media (min-width: 1200px) {
    margin: 50px 100px;

    li {
      width: calc((100% - 60px) / 3);
    }
  }
}
